# Amazon Creators API
AMAZON_CREDENTIAL_ID=seu_credential_id_aqui
AMAZON_CREDENTIAL_SECRET=seu_credential_secret_aqui
AMAZON_TAG=fits000-20

# Google Sheets
GOOGLE_SHEETS_ID=1C1dirDCrjunbSTOm88l3euKd4cup1Rik6qPB5Xi6mvw
GOOGLE_SERVICE_ACCOUNT_FILE=service_account.json
